<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts-wordcloud.min.js"></script>

</head>
<body >
    <div id="97272fd0ab41476eb0c355104e0460f1" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_97272fd0ab41476eb0c355104e0460f1 = echarts.init(
            document.getElementById('97272fd0ab41476eb0c355104e0460f1'), 'white', {renderer: 'canvas'});
        var option_97272fd0ab41476eb0c355104e0460f1 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "wordCloud",
            "name": "2023\u590f\u91cd\u5e86\u7f51\u7edc\u62db\u8058\u90e8\u5206\u5c97\u4f4d\u540d\u79f0",
            "shape": "circle",
            "rotationRange": [
                -90,
                90
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                11,
                15
            ],
            "data": [
                {
                    "name": ".Net\u8f6f\u4ef6\u5de5\u7a0b\u5e08",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(19,160,138)"
                    }
                },
                {
                    "name": ".NET\u5f00\u53d1\u5de5\u7a0b\u5e08",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(38,38,48)"
                    }
                },
                {
                    "name": ".net(C#)\u5f00\u53d1\u5de5\u7a0b\u5e08",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(23,148,46)"
                    }
                },
                {
                    "name": ".NET\u5f00\u53d1\u5de5\u7a0b\u5e08",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(27,135,62)"
                    }
                },
                {
                    "name": "net\u5f00\u53d1\u5de5\u7a0b\u5e08",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(72,120,109)"
                    }
                },
                {
                    "name": ".NET\u4e2d\u7ea7\u5f00\u53d1\u5de5\u7a0b\u5e08",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(38,92,117)"
                    }
                },
                {
                    "name": ".NET\u5f00\u53d1\u5de5\u7a0b\u5e08",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(6,63,13)"
                    }
                },
                {
                    "name": "EAP\u8d44\u6df1\u5de5\u7a0b\u5e08",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(31,8,129)"
                    }
                },
                {
                    "name": "Android\u5f00\u53d1\u5de5\u7a0b\u5e08\uff08\u52a0\u73ed\u5c11\uff09",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(105,36,84)"
                    }
                },
                {
                    "name": "\u79fb\u52a8\u5e94\u7528\u5f00\u53d1\u5de5\u7a0b\u5e08",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(72,32,48)"
                    }
                },
                {
                    "name": "\u5b89\u5353\u5de5\u7a0b\u5e08",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(151,139,135)"
                    }
                },
                {
                    "name": "Android\u7cfb\u7edf\u4e2d\u95f4\u4ef6\u5f00\u53d1\u5de5\u7a0b\u5e08",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(46,112,42)"
                    }
                },
                {
                    "name": "\u5357\u5cb8\u6e20\u9053\u7ecf\u7406+\u5468\u672b\u53cc\u4f11\u4e94\u9669\u4e00\u91d1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(71,102,28)"
                    }
                },
                {
                    "name": "\u5efa\u6750\u6d82\u6599\u9500\u552e\u7ecf\u7406\uff08\u91cd\u5e86\uff09",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(135,85,140)"
                    }
                },
                {
                    "name": "\u4fdd\u9669\u9500\u552e\u7ecf\u7406",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(70,127,149)"
                    }
                },
                {
                    "name": "\u9500\u552e\u7ecf\u7406\uff08\u91cd\u5e86\uff09",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(23,152,65)"
                    }
                },
                {
                    "name": "\u5927\u5ba2\u6237\u9500\u552e\u7ecf\u7406+\u9ad8\u85aa\u53cc\u4f11",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(85,133,66)"
                    }
                },
                {
                    "name": "\u9500\u552e\u7ecf\u7406-\u91d1\u878d\u5e02\u573a\u90e8-\u5168\u56fd\u4e0d\u9650\u533a\u57df\uff082\u5e74\u4ee5\u4e0a\u7ecf\u9a8c\uff0c\u91d1\u878d\u3001\u4fe1\u606f\u5b89\u5168\u3001\u8ba1\u7b97\u673a\u76f8\u5173\u4e13\u4e1a\uff09",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(18,143,136)"
                    }
                },
                {
                    "name": "\u817e\u8baf\u4e91\u9500\u552e\u7ecf\u7406",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(80,45,26)"
                    }
                },
                {
                    "name": "\u9500\u552e\u7ecf\u7406\uff08\u91cd\u5e86\uff09",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(104,127,105)"
                    }
                },
                {
                    "name": "\u533b\u7597\u884c\u4e1a-\u5927\u5ba2\u6237\u9500\u552e\u7ecf\u7406(\u91cd\u5e86)",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(153,86,31)"
                    }
                },
                {
                    "name": "\u5168\u56fd\u5404\u7701\u533a\u9500\u552e\u7ecf\u7406",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(144,3,23)"
                    }
                },
                {
                    "name": "\u533a\u57df\u9500\u552e\u7ecf\u7406",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(158,68,30)"
                    }
                },
                {
                    "name": "\u533a\u57df\u9500\u552e\u7ecf\u7406",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(46,53,115)"
                    }
                },
                {
                    "name": "\u7efc\u5408\u7ba1\u7406\u5c97(\u5468\u672b\u53cc\u4f11\uff09",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(79,87,136)"
                    }
                },
                {
                    "name": "\u8fd0\u8425\u603b\u76d1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(76,42,29)"
                    }
                },
                {
                    "name": "\u8425\u9500\u7b56\u5212",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(41,120,46)"
                    }
                },
                {
                    "name": "\u62db\u5546\u8fd0\u8425\u603b\u7ecf\u7406\uff08\u4ea7\u4e1a\u56ed\uff09",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(59,55,111)"
                    }
                },
                {
                    "name": "COO",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(151,90,3)"
                    }
                },
                {
                    "name": "\u6025\u8058\u7f8e\u5bb9\u8fd0\u8425\u603b\u76d1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(133,142,151)"
                    }
                },
                {
                    "name": "\u817e\u8baf\u4f01\u4e1a\u5fae\u4fe1\u5408\u4f19\u4eba",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(113,67,83)"
                    }
                },
                {
                    "name": "COO",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(51,51,121)"
                    }
                },
                {
                    "name": "CEO",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(13,77,30)"
                    }
                },
                {
                    "name": "\u8fd0\u8425\u603b\u76d1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(136,107,110)"
                    }
                },
                {
                    "name": "\u8054\u5408\u521b\u59cb\u4eba",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(139,53,28)"
                    }
                },
                {
                    "name": "\u9ad8\u7ea7\u5408\u4f19\u4eba",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(53,120,96)"
                    }
                },
                {
                    "name": "3D\u56fe\u5f62",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(37,69,60)"
                    }
                },
                {
                    "name": "\u6548\u679c\u56fe\u5efa\u6a21\u5e08",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(144,99,7)"
                    }
                },
                {
                    "name": "\u5efa\u7b51\u6548\u679c\u56fe\u6e32\u67d3\u540e\u671f\u5236\u4f5c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(74,32,65)"
                    }
                },
                {
                    "name": "\u5b9e\u4e60\u6548\u679c\u56fe\u5efa\u6a21\u5e08",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(35,67,136)"
                    }
                },
                {
                    "name": "3DMAX\u9ad8\u7ea7\u5efa\u6a21\u5e08",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(57,106,109)"
                    }
                },
                {
                    "name": "3D\u8bbe\u8ba1\u5e08",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(154,10,70)"
                    }
                },
                {
                    "name": "3D\u5efa\u6a21\u5e08",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(129,110,118)"
                    }
                },
                {
                    "name": "\u8bbe\u8ba1\u4e3b\u7ba1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(132,134,104)"
                    }
                },
                {
                    "name": "SU\u5efa\u6a21+\u6e32\u67d3",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(6,23,137)"
                    }
                },
                {
                    "name": "3D\u6253\u5370\u5de5\u7a0b\u5e08",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(26,69,106)"
                    }
                },
                {
                    "name": "3D\u5efa\u6a21\u5b9e\u4e60\u751f",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(133,44,13)"
                    }
                },
                {
                    "name": "\u673a\u6784\u8bbe\u8ba1\u5de5\u7a0b\u5e08",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(73,86,137)"
                    }
                },
                {
                    "name": "\u4e92\u8054\u7f51\u5e7f\u544a\u9500\u552e",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(137,40,124)"
                    }
                },
                {
                    "name": "\u5916\u4f01\u50a8\u5907/\u53ef\u8f6c\u8bc1/\u516c\u5e73\u664b\u5347",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(105,112,59)"
                    }
                },
                {
                    "name": "\u4f1a\u8ba1\u52a9\u7406",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(37,134,29)"
                    }
                },
                {
                    "name": "\u4f1a\u8ba1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(88,153,35)"
                    }
                },
                {
                    "name": "\u5de5\u4e1a\u4f1a\u8ba1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(68,111,102)"
                    }
                },
                {
                    "name": "\u603b\u8d26\u4f1a\u8ba1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(70,138,124)"
                    }
                },
                {
                    "name": "\u603b\u8d26\u6210\u672c\u4f1a\u8ba1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(46,24,29)"
                    }
                },
                {
                    "name": "\u4f1a\u8ba1\u52a9\u7406",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(53,155,32)"
                    }
                },
                {
                    "name": "\u4f1a\u8ba1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(79,135,81)"
                    }
                },
                {
                    "name": "\u4f1a\u8ba1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(49,158,87)"
                    }
                },
                {
                    "name": "\u603b\u8d26\u4f1a\u8ba1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(88,153,95)"
                    }
                },
                {
                    "name": "\u4f1a\u8ba1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(130,66,108)"
                    }
                }
            ],
            "width": 2500,
            "height": 2500,
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {}
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    }
};
        chart_97272fd0ab41476eb0c355104e0460f1.setOption(option_97272fd0ab41476eb0c355104e0460f1);
    </script>
</body>
</html>
